node_modules/
dist/
.env
.DS_Store
coverage/
.pnp.cjs

# TypeScript incremental build files
*.tsbuildinfo

# avoid tracking compiled artifacts accidentally emitted into src
**/src/**/*.js
**/src/**/*.js.map

# TypeScript declaration files
**/src/**/*.d.ts
!apps/api/src/types/uuid.d.ts
!apps/api/src/generated-schemas/*.d.ts

# Ignore environment variables for Docker
.env.docker
