node_modules/
dist/
.env
.DS_Store
coverage/
.pnp.cjs

# TypeScript incremental build files
*.tsbuildinfo

# avoid tracking compiled artifacts accidentally emitted into src
**/src/**/*.js
**/src/**/*.js.map
**/src/**/*.d.ts
